{% load static %}
<html lang="uk">
<head>
    <title>Advanced Search</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
</head>

<body>
<h1 class="headText" style="padding-left: 40px; font-weight: lighter; color:#dd4b39">Расширенный поиск</h1>
<div style="border-bottom: 1px solid #ebebeb;"></div>
<div class="container">
    <form action="{% url 'search' %}">
        <div class="firstField">
            <br>
            <br>
            <br>
            <label for="id_name">Название:</label>
            <input id="id_name" type="text" name="name" style="margin: -39px 270px;">
            <p class="descriptionName" style="margin: -33px 0px 0px 933px;">Введите название книги: Старик и море</p>
        </div>

        <div class="secondField">
            <label for="id_author">Автор:</label>
            <input id="id_author" type="text" name="author" style="margin: -39px 270px;">
            <p class="descriptionAuthor" style="margin: -33px 0px 0px 933px;">Введите автора книги: Эрнест Хемингуэй</p>
        </div>
        <div class="thirdField">
            <label for="id_tag">Тег:</label>
            <input id="id_tag" type="text" name="tag" style="margin: -39px 270px;">
            <p class="descriptionTag" style="margin: -33px 0px 0px 933px;">Введите ключевые слова: зимний иней</p>
        </div>

        <div class="thirdField">
            <label for="id_description">Описание:</label>
            <textarea id="id_description" name="description" style="margin: -39px 270px; min-width: 100px; max-width: 650px; min-height: 105px; max-height: 105px;"></textarea>
        </div>

        <br>
        <br>

{#        <div id="reviewStars-input">#}
{#                <span class="raiting"> 5.0#}
{##}
{#                <input id="star-4" type="radio" name="reviewStars"/>#}
{#                <label title="5 из 5" for="star-4"></label>#}
{#            #}
{#                <input id="star-3" type="radio" name="reviewStars"/>#}
{#                <label title="4 из 5" for="star-3"></label>#}
{#            #}
{#                <input id="star-2" type="radio" name="reviewStars"/>#}
{#                <label title="3 из 5" for="star-2"></label>#}
{#            #}
{#                <input id="star-1" type="radio" name="reviewStars"/>#}
{#                <label title="2 из 5" for="star-1"></label>#}
{##}
{#                <input id="star-0" type="radio" name="reviewStars"/>#}
{#                <label title="1 из 5" for="star-0"></label>#}
{##}
{#                </span>#}
{#        </div>#}

        <div class="search">
            <input class="submitSearch" type="submit" value="Найти">
        </div>

    </form>
</div>


</body>
</html>