{% load static %}
<html lang="uk">
<head>
    <title>Advanced Search</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
</head>

<body>
<h1 class="headText" style="padding-left: 40px; font-weight: lighter; color:#dd4b39">Расширенный поиск</h1>
<div style="border-bottom: 1px solid #ebebeb;"></div>
<div class="container">
    <form action="{% url 'search' %}">
        <div class="firstField">
            <label for="id_name" class="first-text">Название:</label>
            <br>
            <input type="text" id="id_name" name="name">
            <div class="descriptionName">Введите название книги: Старик и море</div>
        </div>
        <br>
        <br>

        <div class="secondField">
            <label for="id_author" class="second-text">Автор:</label>
            <br>
            <input type="text" id="id_author" name="author">
            <div class="descriptionAuthor">Введите автора книги: Эрнест Хемингуэй
            </div>
        </div>
        <br>
        <br>
        <div class="thirdField">
            <label for="id_tag" class="third-text">Тег:</label>
            <br>
            <input type="text" id="id_tag" name="tag">
            <div class="descriptionTag">Введите ключевые слова: зимний иней</div>
        </div>
        <br>
        <br>

        <div class="thirdField">
            <label for="id_description" class="third-text">Описание:</label>
            <br>
            <input type="text" id="id_description" name="description">
            <div class="descriptionTag"></div>
        </div>
        <br>
        <br>

        <br>

        {#        <div id="reviewStars-input">#}
        {#                <span class="raiting"> 5.0#}
        {##}
        {#                <input id="star-4" type="radio" name="reviewStars"/>#}
        {#                <label title="5 из 5" for="star-4"></label>#}
        {#            #}
        {#                <input id="star-3" type="radio" name="reviewStars"/>#}
        {#                <label title="4 из 5" for="star-3"></label>#}
        {#            #}
        {#                <input id="star-2" type="radio" name="reviewStars"/>#}
        {#                <label title="3 из 5" for="star-2"></label>#}
        {#            #}
        {#                <input id="star-1" type="radio" name="reviewStars"/>#}
        {#                <label title="2 из 5" for="star-1"></label>#}
        {##}
        {#                <input id="star-0" type="radio" name="reviewStars"/>#}
        {#                <label title="1 из 5" for="star-0"></label>#}
        {##}
        {#                </span>#}
        {#        </div>#}

        <div class="search">
            <input class="submitSearch" type="submit" value="Найти">
        </div>

    </form>
</div>


</body>
</html>