{% load static %}
<!DOCTYPE html>
<html style="height: 100%;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Мои списки</title>
    <link rel="stylesheet" href="{% static "BootstrapStudioAssets/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&amp;subset=cyrillic">
    <link rel="stylesheet" href="{% static "/BootstrapStudioAssets/fonts/fontawesome-all.min.css" %}">
    <link rel="stylesheet" href="{% static "BootstrapStudioAssets/fonts/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "BootstrapStudioAssets/fonts/ionicons.min.css" %}">
    <link rel="stylesheet" href="{% static "BootstrapStudioAssets/fonts/material-icons.min.css" %}">
    <link rel="stylesheet" href="{% static "BootstrapStudioAssets/fonts/fontawesome5-overrides.min.css" %}">
    <link rel="stylesheet" href="{% static "BootstrapStudioAssets/css/Contact-Form-Clean.css" %}">
    <link rel="stylesheet" href="{% static "BootstrapStudioAssets/css/Footer-Basic.css" %}">
    <link rel="stylesheet" href="{% static "BootstrapStudioAssets/css/Footer-Clean.css" %}">
    <link rel="stylesheet" href="{% static "BootstrapStudioAssets/css/Form-Select---Full-Date---Month-Day-Year.css" %}">
    <link rel="stylesheet" href="{% static "BootstrapStudioAssets/css/Pretty-Footer.css" %}">
    <link rel="stylesheet" href="{% static "BootstrapStudioAssets/css/gradient-navbar-1.css" %}">
    <link rel="stylesheet" href="{% static "BootstrapStudioAssets/css/gradient-navbar.css" %}">
    <link rel="stylesheet" href="{% static "BootstrapStudioAssets/css/Navigation-Clean.css" %}">
    <link rel="stylesheet" href="{% static "BootstrapStudioAssets/css/Navigation-with-Search.css" %}">
    <link rel="stylesheet" href="{% static "BootstrapStudioAssets/css/styles-1.css" %}">
    <link rel="stylesheet" href="{% static "BootstrapStudioAssets/css/styles.css" %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic|Roboto:400,300,700'
          rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic|Roboto:400,300,700'
          rel='stylesheet' type='text/css'>
</head>

<body style="display: flex;flex-direction: column;height: 100%;">
<div class="modal fade" role="dialog" tabindex="-1" id="exampleModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="border rounded-0 border-dark">
                <div class="container">
                    <div class="row">
                        <div class="col float-right">
                            <button class="btn float-right close" type="button" data-dismiss="modal"><i
                                    class="fa fa-close" style="font-size: 23px;"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h2 class="d-table" style="margin: auto;">Новый список</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5 style="margin-top: 15px;margin-left: 15%;">Название</h5>
                        </div>
                    </div>
                    <form method="post" action="/user/{{ user.id }}/list/create/">
                        <div class="row">
                            <div class="col"><input class="d-block" type="text"
                                                    style="width: 80%;margin: auto;margin-top: 10px;margin-bottom: 10px;"
                                                    name="name" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="btn border rounded-0 border-dark d-block" type="submit"
                                        style="margin: auto;margin-top: 5px;margin-bottom: 25px;">
                                    <strong>Создать</strong>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div role="dialog" tabindex="-1" class="modal fade" id="reset-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col d-lg-flex justify-content-lg-end" style="padding-top: 10px;">
                        <button class="btn close" type="button" data-dismiss="modal" aria-label="Close"><i
                                class="fa fa-close"></i></button>
                    </div>
                </div>
                <div class="row" style="padding-top: 20px;">
                    <div class="col">
                        <h3 class="text-center">Вы действительно хотите отменить изменения? </h3>
                    </div>
                </div>
                <div class="row" style="padding-top: 20px;">
                    <div class="col d-lg-flex justify-content-lg-center" style="padding-bottom: 30px;">
                        <button class="btn border rounded-0 border-dark" type="button"
                                style="margin-right: 50px;font-size: 20px;"><strong>Сохранить</strong></button>
                        <button class="btn border rounded-0 border-dark" type="reset" style="font-size: 20px;"><strong>Отменить</strong>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-light navbar-expand-md navigation-clean" id="wrap"
     style="background-color: #25263a;padding-top: 0px;padding-bottom: 0px;flex: 0 0 auto;">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{% static "img/LogoLong.png" %}">
        </a>

        <!-- Add up -->

        <div class="d-md-block"
             style="width: 1px;height: 60px;background-color: #ffffff;margin-left: 20px;margin-right: 20px;min-height: 0px;max-height: 60px;"></div>
        <a class="d-block" href="/profile#grid" style="color: rgb(236,236,236);font-size: 25px;">Моя
            библиотека</a>
        <ul class="nav navbar-nav ml-auto">
            <!-- End -->


            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item d-block" role="presentation">
                        <form class="form-inline mr-auto" target="_self">
                            <div class="form-group d-flex justify-content-end"
                                 style="border-bottom: 3px solid white;padding-right: 5px;padding-left: 5px;">
                                <input
                                        class="form-control search-field" type="search" id="search-field"
                                        name="search"
                                        style="border: 0px;margin-top: 22px;background-color: #25263a;font-size: 20px;"
                                        placeholder="Search"
                                        onclick="window.location.href = '/books/search/'"><i
                                    class="fa fa-search"
                                    style="font-size: 40px;color: #e7dfed;font-weight: normal;font-style: normal;padding-top: 16px;"></i>
                            </div>
                        </form>
                    </li>
                    {#                <li class="nav-item" role="presentation"><a class="nav-link" href="#"#}
                    {#                                                            style="padding-right: 0px;padding-left: 0px;"><img#}
                    {#                        src="{% static "img/cart.png" %}" style="padding-left: 5px;padding-right: 5px;"></a></li>#}
                    {#                <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="padding-left: 0px;"><img#}
                    {#                        src="{% static "img/smeshko.png" %}" style="padding-right: 5px;padding-left: 5px;"></a></li>#}
                    <li role="presentation" class="nav-item">
                        <div style="width: 2px;background-color: #a4a4a4;height: 60px;margin-right: 20px;margin-top: 10px;margin-left: 20px;"></div>
                    </li>
                    {% if anon %}
                        <li role="presentation" class="nav-item"><a class="btn btn-primary" role="button"
                                                                    href="/accounts/google/login"
                                                                    style="margin-top: 20px;background-color: #9b9bfd;">Логин</a>
                        </li>


                    {% else %}

                        <li role="presentation" class="nav-item">
                        <li style="padding-left:5px;"><a href="/profile">
                            <button class="btn btn-primary" type="submit"
                                    style="margin-top: 20px;background-color: #9b9bfd;">Мой профиль
                            </button>
                        </a>
                        </li>
                        <form action="/accounts/logout/" method="post">
                            <button class="btn btn-primary" type="submit"
                                    style="margin-top: 20px;background-color: #9b9bfd;">Выйти
                            </button>

                        </form>
                        {#                    <a class="btn btn-primary" role="button" href="/accounts/logout" style="margin-top: 20px;background-color: #9b9bfd;">Log Out</a>#}
                        </li>
                    {% endif %}
                </ul>
            </div>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xl-4">
            <ol class="breadcrumb" style="background-color: rgba(233,236,239,0);">
                <li class="breadcrumb-item"><a href="/"><span>&nbsp;<i class="fa fa-home"></i></span></a></li>
                <li class="breadcrumb-item"><a href="/profile#grid"><span><strong>Моя библиотека</strong></span></a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Списки</h1>
        </div>
    </div>
    <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(400px, auto)); width: 100%;">
        {% for list in lists %}
            <div class="row" style="margin: 20px">
                <img src="/uploaded/lists/{{ list.id }}.png" alt="No photo" style="">
                <div class="col" style="background-color: #ededed;min-height: 400px;">
                    <div class="" style="margin: 10px; display: flex; flex-direction: column">
                        <div>
                            <div>
                                <g class="fa fa-trash"
                                   style="float: right; font-size: 30px;color: #717070;display: block"
                                   onclick="window.location.href='/user/{{ user.id }}/list/{{ list.id }}/remove/'"/>

                            </div>
                            <h3 class="d-inline-flex"
                                style="margin-right: 30px;padding-top: 10px;margin-bottom: 40px;"> {{ list.name }}</h3>
                        </div>
                        {% for list_book in list.list_books.all %}
                            <div style="display: flex;flex-direction: row;">
                                <div style=" margin: 10px;">
                                    {#                                <button class="fa fa-edit"#}
                                    {#                                        style="font-size: 25px;"></button>#}
                                    <i class="fa fa-trash" style="font-size: 30px;color: #717070;"
                                       onclick="window.location.href='/user/{{ user.id }}/list/{{ list.id }}/remove/{{ list_book.id }}'"></i>
                                </div>
                                <h5 style="margin-right: 30px; margin: 10px;">
                                    <a href="/books/{{ list_book.book.id }}/">
                                        {{ list_book.book.name }}
                                    </a>
                                </h5>
                            </div>
                        {% endfor %}
                        <div class="ui-widget">
                            <label for="book_search_{{ list.id }}">Добавить издание: </label>
                            <input id="book_search_{{ list.id }}">
                        </div>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $(function () {
                                    $("#book_search_{{ list.id }}").autocomplete({
                                        source: function (request, response) {
                                            $.ajax({
                                                url: "/books/suggestions/",
                                                dataType: "json",
                                                data: {
                                                    name: request.term
                                                },
                                                success: function (data) {
                                                    response(data);
                                                }
                                            });
                                        },
                                        focus: function (event, ui) {
                                            $("#book_search_{{ list.id }}").val(ui.item.name);
                                            return false;
                                        },
                                        select: function (event, ui) {
                                            // <int:user_id>/list/<int:list_id>/add/<int:book_id>/
                                            window.location.href = "/user/{{ user.id }}/list/{{ list.id }}/add/" + ui.item.id + "/";
                                        }
                                    }).autocomplete("instance")._renderItem = function (ul, item) {
                                        return $("<li>")
                                            .append("<div>" + item.name + "</div>")
                                            .appendTo(ul);
                                    };
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="col">
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal">Добавить
                список
            </button>
        </div>
    </div>

</div>
<div class="d-block d-xl-flex mb-auto align-items-xl-end footer-basic">
    <footer class="text-center" style="height: 30px;padding-top: 10px;background-color: rgb(37,38,58);">
        <p class="copyright">© Readland &nbsp;2019</p>
    </footer>
</div>
<script src="{% static "BootstrapStudioAssets/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "BootstrapStudioAssets/js/script.js" %}"></script>
</body>

</html>