{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Readland &bull; {{ name }}</title>

    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">

    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "fonts/material-icons.min.css" %}">
    <link rel="stylesheet" href="{% static "css/Contact-Form-Clean.css" %}">
    <link rel="stylesheet" href="{% static "css/Form-Select---Full-Date---Month-Day-Year.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/Footer-Basic.css" %}">
    <link rel="stylesheet" href="{% static "css/Footer-Clean.css" %}">
    <link rel="stylesheet" href="{% static "css/Navigation-Clean.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.min.css" %}">
    <link rel="stylesheet" href="{% static "fonts/fontawesome-all.min.css" %}">
    <link rel="stylesheet" href="{% static "fonts/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "fonts/material-icons.min.css" %}">
    <link rel="stylesheet" href="{% static "fonts/fontawesome5-overrides.min.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&amp;subset=cyrillic">
    {#    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">#}
    {#    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">#}
    {#    <link rel="stylesheet" href="assets/fonts/material-icons.min.css">#}
    {#    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">#}
    {#    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">#}
    {#    <link rel="stylesheet" href="assets/css/Footer-Basic.css">#}
    {#    <link rel="stylesheet" href="assets/css/Footer-Clean.css">#}
    {#    <link rel="stylesheet" href="assets/css/Form-Select---Full-Date---Month-Day-Year.css">#}
    {#    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">#}
    {#    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">#}
    {#    <link rel="stylesheet" href="assets/css/Pretty-Footer.css">#}
    {#    <link rel="stylesheet" href="assets/css/styles.css">#}
</head>

<body style="font-family: 'Source Sans Pro', sans-serif;">
<nav id="wrap" class="navbar navbar-light navbar-expand-md navigation-clean"
     style="background-color: #25263a;padding-top: 0px;padding-bottom: 0px;">
    <div class="container"><a class="navbar-brand" href="#">
        <img src="{% static "img/LogoLong.png" %}"></a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        {#        <div#}
        {#                class="collapse navbar-collapse" id="navcol-1">#}
        {#            <ul class="nav navbar-nav ml-auto">#}
        {#                <li class="nav-item d-block" role="presentation">#}
        {#                    <form class="form-inline mr-auto" target="_self">#}
        {#                        <div class="form-group d-flex justify-content-end"#}
        {#                             style="border-bottom: 3px solid white;padding-right: 5px;padding-left: 5px;"><label#}
        {#                                for="search-field"></label><input class="form-control search-field" type="search"#}
        {#                                                                  id="search-field" name="search"#}
        {#                                                                  style="border: 0px;margin-top: 22px;background-color: #25263a;font-size: 20px;"#}
        {#                                                                  placeholder="Search">#}
        {#                            <i#}
        {#                                    class="fa fa-search"#}
        {#                                    style="font-size: 40px;color: #e7dfed;font-weight: normal;font-style: normal;padding-top: 16px;"></i>#}
        {#                        </div>#}
        {#                    </form>#}
        {#                </li>#}
        {#                <li class="nav-item" role="presentation"><a class="nav-link" href="#"#}
        {#                                                            style="padding-right: 0px;padding-left: 0px;"><img#}
        {#                        src="{% static "img/cart.png" %}" style="padding-left: 5px;padding-right: 5px;"></a></li>#}
        {#                <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="padding-left: 0px;"><img#}
        {#                        src="{% static "img/smeshko.png" %}" style="padding-right: 5px;padding-left: 5px;"></a></li>#}
        {#            </ul>#}
        {#        </div>#}
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-4"><img src="{{ photo }}" alt="{{ photo }}"
                                   style="width: 90%;height: auto;margin: auto;"></div>
        <div class="col-lg-8">
            <h2 style="font-family: 'Source Sans Pro', sans-serif;">{{ name }}</h2>
            <div id="starRaiting">
                {% for i in raiting.list_raiting %}
                    <i class="fa fa-star" style="color: #fcee10;font-size: 30px;"></i>
                {% endfor %}
                {% if raiting.has_half_star %}
                    <i class="fa fa-star-half-o" style="color: #fcee10;font-size: 30px;"></i>
                {% endif %}
                <span style="font-size: 30px;font-family: 'Source Sans Pro', sans-serif;font-weight: bold;font-style: normal;padding-left: 10px;">{{ raiting.number_raiting }}</span>
                <i class="far fa-eye" style="font-size: 30px;color: #777777;padding-left: 30px;"></i>
                <span style="font-size: 30px;font-family: 'Source Sans Pro', sans-serif;color: #777777;padding-left: 7px;">{{ views }}</span>
            </div>
            <h4>Автор: {{ author }}&nbsp;</h4>
            <h4>Теги:&nbsp;

                {% for i in tag %}
                    <a href="#" style="margin-right: 5px;">{{ i }}</a>
                {% endfor %}
            </h4>
            {#            <h4>Опубліковано:&nbsp;<a href="#" style="margin-right: 5px;">{{ author }}</a></h4>#}
            <h5>Опис:</h5>
            <p>{{ description }}<br></p>
        </div>
    </div>
    <div class="row" id="ReadOrDownload">
        <div class="col-lg-3 offset-lg-3">
            <button class="btn btn-primary d-block" type="button" onclick="window.location.href = 'read'"
                    style="margin: auto;border: 3px solid black;margin-top: 15px;width: 185px;margin-bottom: 15px;background-color: #fefefe;color: #363636;">
                Читати онлайн
            </button>
        </div>
        <div class="col-lg-3 offset-lg-0">
            <button class="btn btn-primary d-block" type="button" onclick="window.location.href = 'download'"
                    style="border: 3px solid black;width: 185px;margin: auto;margin-top: 15px;margin-bottom: 15px;color: rgb(54,54,54);background-color: #fefefe;">
                Завантажити
            </button>
        </div>
        <div id="reviewStars-input">
                <span class="raiting">
            Оцінити видання:
                <label title="1 из 5" for="star-0"></label>
                <input id="star-0" type="radio" name="reviewStars" onclick="window.location.href = 'rate/1'"/>

                <label title="2 из 5" for="star-1"></label>
                <input id="star-1" type="radio" name="reviewStars" onclick="window.location.href = 'rate/2'"/>

                <label title="3 из 5" for="star-2"></label>
                <input id="star-2" type="radio" name="reviewStars" onclick="window.location.href = 'rate/3'"/>

                <label title="4 из 5" for="star-3"></label>
                <input id="star-3" type="radio" name="reviewStars" onclick="window.location.href = 'rate/4'"/>

                <label title="5 из 5" for="star-4"></label>
                <input id="star-4" type="radio" name="reviewStars" onclick="window.location.href = 'rate/5'"/>
                </span>
        </div>
    </div>
</div>
<div class="footer-basic" id="footer" onloadstart="positionateBottom(this)">
    <footer class="text-center" style="height: 30px;padding-top: 10px;background-color: rgb(37,38,58);">
        <p class="copyright" style="font-family: 'Source Sans Pro', sans-serif;font-size: 20px;font-weight: normal;">© Readland 2019</p>
    </footer>
</div>

<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "js/script.js" %}"></script>
</body>

</html>