body {
    background-color: white;
    font-family: Roboto, Geneva, Tahoma, sans-serif;
}

.descriptionName, .descriptionAuthor, .descriptionTag {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

/*sprite with stars*/
#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover ~ label {
    background: url('../img/spritesheetStar.png') no-repeat 0 -40px;
}

#reviewStars-input input:checked ~ label {
    background-position: 0 0;
}

#reviewStars-input label {
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: inline-block;
}

#reviewStars-input input {
    opacity: 0;
    display: none;
}

#reviewStars-input label:hover {
    background-position: 0 -40px;
}

#reviewStars-input {
    width: 100%;
    text-align: center;
}

.raiting {
    font-size: 34px;
    color: #dd4b39;
    display: inline-flex;
}

.submitSearch {
    padding: 8px;
    line-height: 100%;
    height: 35px;
    min-width: 135px;
    margin: 5px 0 20px 790px;
    font-size: 15px;
    background-color: #3079ed;
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.submitSearch:hover {
    color: #fff;
}
