.radiused {
    border-color: white;
    border-style: solid;
    border: width 5px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.btn.btn-primary.border.rounded.d-block {
    border: solid;
    border-width: 3.5px !important;
}

.btn.btn-primary.border.rounded.d-block:hover {
    border-color: #dadada;
}

.btn.btn-primary.border.rounded.d-block :focus {
    border-color: #dadada;
}

.pressed-link {
    color: black;
    border-bottom: 1px black !important;
}

.d-block.d-xl-flex.mb-auto.align-items-xl-end.footer-basic {
    flex: 0 0 auto;
    padding-bottom: 0px;
    padding: 40px 0;
    background-color: #ffffff;
    color: #4b4c4d;

}

.container {
    flex: 1 0 auto;
}

#wrap {
    flex: 0 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

html {
    height: 100%;
}

footer {
    height: 50px !important;
    padding-top: 0px !important;
    background-color: rgb(37, 38, 58) !important;
}

.copyright {
    padding-top: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: normal;
}

